CMakeLists.txt
.idea/
cmake-build-debug/
cmake-build-release/
dynamorio/
symcache/

*.o 
*.exe 
*.files 
*.includes 
*.creator
*.cflags
*.config
*.cxxflags
*.out
*.zip
lab_07/lab_07_1/valgrind-out.txt
lab_07/test/main.c
lab_08/lab_08_05_01/valgrind-out.txt
